.our_mission_image{
  padding-left: 4px;
}
.our_values_image{
  padding-left: 15px;
}

.ourmissionHeading{
  padding-left: 25px;
  color: rgb(8, 8, 48);
  font-size: 2rem;
}


.ourvaluesHeading{
  padding-left: 20px;
  color: rgb(8, 8, 48);
  font-size: 2rem;
}

.Body1{
  padding-top: 100px;
  padding-right: 4%;
  padding-left: 1.5%;
}

.ourmission_list li{
  padding-top: 2%;
}

.ourvalues_list li{
  padding-top: 2%;
}

.mission_contianer{
  padding-right: 2%;
  /* margin: auto; */
  padding-left: 6%;
}

.mission_container1{
  /* padding-right: 5%; */
  /* margin: auto; */
  /* padd */
  /* padding-left: 6%; */
}