.ourmissionHeading {
  padding-left: 10px;
  color: darkblue;
  font-size: 2rem;
  font-weight: 600;
}


.ourvaluesHeading{
  padding-left: 20px;
  color: darkblue;
  font-size: 2rem;
  font-weight: 600;
}

.Body1{
  padding-top: 50px;
  padding-right: 2%;
  padding-left: 1.5%;
}

.ourmission_list li{
  padding-top: 2%;
}

.ourvalues_list li{
  padding-top: 2%;
}

.mission_container{
padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.mission_container1{
  padding: 1rem;

}