.container {
  margin: 0 auto;
  padding: 0;
}

.image-wrapper {
  display: flex;
  justify-content: start;
}

.description {
  font-style: italic;
  background-color: #f8f8f8;
  padding: 10px;
}
