@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar-color{
  background-color: rgba(0, 0, 0, 0.016);
}
.nabvar-image{
  width: 60px;
  height: 30px;
}
#navbar-link{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  
}
#navbar-link:hover{
  color: rgb(0, 0, 0);
}
