

.carousel-heading01{
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 30px;
  font-size: 2.2rem;
  color: #2f80ed;
}
.carousel-content01{
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 30px;
  font-size: 1.4rem;
}










.carousel-button-container{
  padding-left: 60px;
  padding-top: 20px;
}
.row-container{
  display: flex;
}
 @media (max-width: 860px) {
     .row-container{
      display: flex;
      flex-direction: column-reverse;
     }
     .carousel-heading01{
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
     }
     .carousel-content01{
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
     }
     .carousel-button-container{
      padding-left: 30px;
     }
     .col-sm-4-carousel-container{
      width: 100%;
     }
     .carousel-content-button{
      padding-left: 30px!important;
     }
 }
 .carousel-image01{
  width: 100%;
  height: auto;
 }
 .col-sm-8-carousel{
  width: 100%;
 }

.carousel-content-button{
  padding-top: 10px;
  padding-left: 55px;
}








 

 /* CSS */
 .carousel-button-container {
   align-items: center;
   background-color: #0A66C2;
   border: 0;
   border-radius: 100px;
   box-sizing: border-box;
   color: #ffffff;
   cursor: pointer;
   display: inline-flex;
   font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 20px;
   max-width: 480px;
   min-height: 40px;
   min-width: 0px;
   overflow: hidden;
   padding: 0px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
   touch-action: manipulation;
   transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
 }
 
 .carousel-button-container:hover,
 .carousel-button-container:focus { 
   background-color: #16437E;
   color: #ffffff;
 }
 
 .carousel-button-container:active {
   background: #09223b;
   color: rgb(255, 255, 255, .7);
 }
 
 .carousel-button-container:disabled { 
   cursor: not-allowed;
   background: rgba(0, 0, 0, .08);
   color: rgba(0, 0, 0, .3);
 }
