*{
    margin: 0%;
    padding: 0%;
}

.tc_container{
    background: rgb(20, 20, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tc_wrapper{
    margin: 2rem 5rem 2rem 5rem;
    display: flex;
    height: 100%;
}

.tc_img{
    /* border: 1px blue solid; */
    height: 100%;
    width: 100%;
}

.tc_left{
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.tc_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tc_textarea{
    color: white;
    /* width: 70%; */
}

.tc_links_container{
    display: flex;
    gap: 2rem;
}

.tc_links{
    margin-top: 2rem;
    width: 75%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px red solid; */
}

.tc_lc_img{
    /* height: 80%; */
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tc_lk_heading{
    color: white;
    margin-top: 1rem;
}

.tc_lc_desc{
    color: gray;
    margin-top: 0.5rem;
    width: 80%;
}


@media screen and (max-width: 1000px) {
     
    .tc_wrapper{
        margin: 2rem 5rem 2rem 5rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
}

@media screen and (max-width: 500px) {
 
    .tc_wrapper{
        margin: 2rem 5rem 2rem 5rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .tc_container{
        border: 1px red solid;
        background: rgb(20, 20, 51);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .tc_lc_img{
        /* height: 80%; */
        width: 8
        0%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .tc_img{
        /* border: 1px blue solid; */
        height: 70%;
        width: 70%;
    }
    
    .tc_right{
        height: 90%;
        width: 90%;
    }

    .tc_textarea{
        color: white;
        width: 80%;
    }
    .tc_links_container{
        display: flex;
        gap: 0.5rem;
        border: 1px red solid;
        margin-left: 2rem;
    }
}